<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Show post</title>
</head>
<body>



<div th:object="${post}">
    <div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-10">
      <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-y=.8&w=2830&h=1500&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
      <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>


      <nav class="flex justify-end mr-10">
        <a th:href="@{/}">
          <button class="ml-5 ml-2 bg-black hover:bg-gray-500 text-white font-semibold py-2 px-4 border border-gray-400 rounded shadow flex items-center">
            Return to homepage &nbsp
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
          </button>
        </a>
      </nav>

      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-5xl lg:mx-0">


          <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl" th:text="*{title}"></h2>
          <p class="mt-6 text-lg leading-8 text-gray-300 italic" th:text="*{description}" ></p>
          <p th:utext="*{content}" class="mb-3 mt-5 text-white  first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-white  first-letter:me-3 first-letter:float-start"></p>
        </div>

        <div>
          <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-10 sm:grid-cols-2 lg:grid-cols-4">
            <div class="flex flex-col-reverse">
              <dt class="text-base leading-7 text-gray-300" th:text="${#dates.format(post.createdAt, 'dd/MM/yyyy HH:mm')}" ></dt>
              <dd class="text-2xl font-bold leading-9 tracking-tight text-white" >Created at</dd>
            </div>
            <div class="flex flex-col-reverse">
              <dt class="text-base leading-7 text-gray-300" th:text="${#dates.format(post.updatedAt, 'dd/MM/yyyy HH:mm')}">Full-time colleagues</dt>
              <dd class="text-2xl font-bold leading-9 tracking-tight text-white">Updated at</dd>
            </div>
          </dl>
        </div>


        <div class="mt-10">
          <div class="">
            <div class="flex justify-center">
              <h2 class="text-lg font-bold mb-4 text-white ">Comments</h2>
            </div>
            <div class="flex flex-col space-y-4">

                <div th:each="c:${comments}"  class="flex justify-end">
                  <div class=" max-w-2xl bg-gray-900 p-4 rounded-lg shadow-md border border-gray-300">
                    <h3 class="text-lg font-bold text-white">Anonyme</h3>
                    <p th:text="${#dates.format(c.createdAt, 'dd/MM/yyyy HH:mm')}" class="text-white text-sm mb-2"></p>
                    <p th:text="${c.text}" class="text-white "></p>
                  </div>
                </div>


              <!--<form th:action="@{/posts/{id}/comments(id=${post.id})}" th:object="${newComment}" method="POST" class="max-w-2xl">
                -->
                <form  action="#" th:action="@{/posts/{id}/comments(id=${post.id})}" th:object="${newComment}" method="POST" class="max-w-2xl">

                <label for="text" class="block mb-2 text-m font-medium text-white">Leave a comment</label>
                <!--
                  <textarea  th:value="*{text}" id="text" rows="5" class="bg-gray-800  block p-2.5 w-full text-sm text-white bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Type your text here..."></textarea>
                -->
                <input id="text"  type="text"  class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <button type="submit" class="mt-3 text-white bg-blue-900 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Post your comment</button>
              </form>


            </div>
          </div>
        </div>


      </div>
    </div>
</div>



</body>
</html>